body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link {
  margin-left: 20%;
}

.footer-link {
  text-decoration: none;
  color: #6c757d;
  display: block;
  margin-bottom: 1px;
}

#supportHero a {
  color: white;
}

#supportHero {
  background-color: blue;
  color: white;
  padding: 40px 0;
}

#supportWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
  gap: 20px;
  outline: none;
  box-sizing: border-box;
}

#supportWrapper input {
  padding: 20px 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}
